.hamburger {
  position: absolute;
  top: 4vw;
  right: 4vw;
  cursor: pointer;
  z-index: 5;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 4px;
    position: relative;
    border-radius: 6px;
    z-index: 5;
    transform-origin: 0 0;
    transition: all 0.5s ease-in-out;
    background-color: white;
  }
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
}

.hamburger.isActive span:nth-child(1) {
  transform: translate(0px, -4px) rotate(45deg);
}
.hamburger.isActive span:nth-child(2) {
  transform: translateX(15px);
  opacity: 0;
}
.hamburger.isActive span:nth-child(3) {
  transform: translate(-2.5px, 3px) rotate(-45deg);
}

.menuWrapper {
  position: absolute;
  z-index: 2;
  background: red;
  height: 60rem;
  width: 60rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 50%;
}
