.navbarWrapper {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  overflow: hidden;

  .navbarList {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background: lightcoral;
    z-index: 1;
    width: 40rem;
    height: 110vh;
    border-bottom-left-radius: 500px;
    @media (max-width: 1280px) {
      width: 36rem;
    }
    @media (max-width: 640px) {
      width: 200%;
    }
    /*     .nic {
      height: 100%;
      background: rgba(255, 0, 0, 0.253);
      border-bottom-left-radius: 500px;
    } */
  }
}

.navbarButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 1000;
  cursor: pointer;
}

.nadListItem {
  height: 100vh;
}
.listItem {
  width: 100%;
  background: lightcyan;
}
