@import "./shared.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: $main;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
