@import "./components/Info/styles/Info";
@import "./components/Work/styles/Work";
@import "./components/Footer/styles/Footer";
@import "./components/Main/styles/Main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Cabinet Grotesk", sans-serif;
}
